   
   <nav>
       <span><img src="/images/dove.png" height="50px" width="50px"/></span><span>
           <ul>
               <li><a href=""><i class="fa fa-shopping-cart" aria-hidden="true" style="color: black;"></i>Orders</a></li>
               <li><a href="/Blogs/View"><i class="fa fa-book" aria-hidden="true" style="color: black;"></i>Blogs</a></li>
               <li><a href=""><i class="fa fa-phone" aria-hidden="true" style="color: black;"></i>Contact</a></li>
           </ul>
       </span>
   </nav>

   <div class="main animate__animated animate__zoomIn">
       <img src="https://www.freepngimg.com/thumb/pills/26858-3-pills-free-download.png" height="200px" width="200px" class="image"/>
       <h3 style="padding: 20px; font-size: 2.5rem">Welcome, <br/> Get the best drugs for your health issues...</h3>
   </div>
   


  

